<div class="row">
    <div class="col-6">
        <app-dona titulo="Ventas" [Labels]="labels1" [Data]="data1" [ChartType]="chartType1"></app-dona>
    </div>
    <div class="col-6">
        <app-dona titulo="Devoluciones" [Labels]="labels2" [Data]="data2" [ChartType]="chartType2"></app-dona>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-dona titulo="Gastos" [Labels]="labels3" [Data]="data3" [ChartType]="chartType3"></app-dona>
    </div>
    <div class="col-6">
        <app-dona titulo="Compras" [Labels]="labels4" [Data]="data4" [ChartType]="chartType4"></app-dona>
    </div>
</div>