/* You can add global styles to this file, and also import other style files */

#themecolors .selector {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.imagen-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-avatar {
    width: 200px;
    height: 200px;
    margin: 1rem;
}